aniso8601==8.1.0
asn1crypto==0.24.0
attrs==20.3.0
boto3==1.16.44
botocore==1.19.44
click==7.1.2
cryptography==2.6.1
entrypoints==0.3
Flask==1.1.2
flask-restplus==0.13.0
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
pybase64==1.1.1
pycrypto==2.6.1
PyGObject==3.30.4
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.5
pyxdg==0.25
s3transfer==0.3.3
SecretStorage==2.3.1
six==1.12.0
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==0.16.1
zipp==3.4.0
